@import "tailwindcss";

:root {
  color: #525972;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@theme inline {
  --color-brand-primary: #7fc8f8;
  --color-brand-secondary: #fefcfb;
  --color-brand-dark: #0a1128;
  --color-brand-hvrdark: #525972;
  --color-brand-white: #fefcfb;
  --font-poppins: var(--font-poppins);
}

html,
body {
  font-family: var(--font-poppins), sans-serif;
  scrollbar-width: none;
}
 
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}
