@import "tailwindcss";

:root {
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@theme inline {
  --font-poppins: var(--font-poppins);
}

body {
  font-family: var(--font-poppins), sans-serif;
}
